/src/wifi/ftm_map/*.map

/scratch/random-variable-stream.cc
/scratch/scratch-simulator.cc
/scratch/subdir/

/.vscode/
/.DS_Store
/build/
/cmake-cache/
/.ipynb_checkpoints/
/__pycache__/
/.lock-ns3_darwin_build
/experiments\ results/
